<div class="portfolio-bckg">
	<div class="container">
		<!-- Portfolio headings -->
		<h1 class="portfolio-heading">Minimal Responsive Portfolio Theme for</h1>
		<h1 class="portfolio-heading-sec">creative agency & creative folks</h1>
		<hr class="divide-map">
		<!-- categories -->
		<div class="row categories">
			<div class="col-sm-12 col-md-12 col-lg-9">
				<ul class="category-list">
					<li 
					  *ngFor="let cat of categories"
					  class="category-blocks">
					  <a href="#">{{ cat.category }}</a>
					  <span>/</span>
					</li>
				</ul>
			</div>
			<div class="col-sm-0 col-md-0 col-lg-3">
				<ul class="gallery-forms">
					<li>
						<a href="#">
							<img src="assets/img/formation1.png" alt="formation icon">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/formation.png" alt="formation icon">
						</a>
					</li>
				</ul>
			</div>
		</div>
	
		<div class="row">
				<div class="box">
					<figure class="scooter-img img-fluid">
						<img src="assets/img/scooter.png" class="img-fluid" alt="scooter image">
						<figcaption>
							<ul class="gallery-social">
								<li>
									<a href="#">
										<img src="assets/img/link.png" alt="link icon">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/img/dribble.png" alt="dribble icon">
									</a>
								</li>
							</ul>
							<h1>Project Title</h1>
							<p>Lorem Ipsum available, but the majority...</p>
						</figcaption>		
					</figure>
					
					<figure class="girl-img">
						<img src="assets/img/girl.png" class="img-fluid" alt="girl image">
						<figcaption>
							<ul class="gallery-social">
								<li>
									<a href="#">
										<img src="assets/img/link.png" alt="link icon">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/img/dribble.png" alt="dribble icon">
									</a>
								</li>
							</ul>
							<h1>Project Title</h1>
							<p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
						</figcaption>		
					</figure>
					
					<figure class="fifty-img">
						<img src="assets/img/fifty.png" class="img-fluid" alt="fifty image">
						<figcaption>
							<ul class="gallery-social">
								<li>
									<a href="#">
										<img src="assets/img/link.png" alt="link icon">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/img/dribble.png" alt="dribble icon">
									</a>
								</li>
							</ul>
							<h1>Project Title</h1>
							<p>Lorem Ipsum available, but the majority...</p>
						</figcaption>		
					</figure>
					
					<figure class="maple-img">
						<img src="assets/img/maple.png" class="img-fluid" alt="maple image">
						<figcaption>
							<ul class="gallery-social">
								<li>
									<a href="#">
										<img src="assets/img/link.png" alt="link icon">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/img/dribble.png" alt="dribble icon">
									</a>
								</li>
							</ul>
							<h1>Project Title</h1>
							<p>Lorem Ipsum available, but the majority...</p>
						</figcaption>		
					</figure>
						
					<figure class="bird-img">
						<img src="assets/img/bird.png" class="img-fluid" alt="bird image">
						<figcaption>
							<ul class="gallery-social">
								<li>
									<a href="#">
										<img src="assets/img/link.png" alt="link icon">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/img/dribble.png" alt="dribble icon">
									</a>
								</li>
							</ul>
							<h1>Project Title</h1>
							<p>Lorem Ipsum available, but the majority...</p>
						</figcaption>		
					</figure>

					<figure class="red-img">
						<img src="assets/img/red.png" class="img-fluid" alt="red image">
						<figcaption>
							<ul class="gallery-social">
								<li>
									<a href="#">
										<img src="assets/img/link.png" alt="link icon">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/img/dribble.png" alt="dribble icon">
									</a>
								</li>
							</ul>
							<h1>Project Title</h1>
							<p>Lorem Ipsum available, but the majority...</p>
						</figcaption>		
					</figure>
						
					<figure class="robocap-img">
						<img src="assets/img/robocap.png" class="img-fluid" alt="robocap image">
						<figcaption>
							<ul class="gallery-social">
								<li>
									<a href="#">
										<img src="assets/img/link.png" alt="link icon">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/img/dribble.png" alt="dribble icon">
									</a>
								</li>
							</ul>
							<h1>Project Title</h1>
							<p>Lorem Ipsum available, but the majority...</p>
						</figcaption>		
					</figure>

					<figure class="space-img">
						<img src="assets/img/space.png" class="img-fluid" alt="space image">
						<figcaption>
							<ul class="gallery-social">
								<li>
									<a href="#">
										<img src="assets/img/link.png" alt="link icon">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/img/dribble.png" alt="dribble icon">
									</a>
								</li>
							</ul>
							<h1>Project Title</h1>
							<p>Lorem Ipsum available, but the majority...</p>
						</figcaption>		
					</figure>

				</div>
		</div>
	</div>
</div>
<!-- clients section -->
<div class="client-bckg">
	<div class="container">
		<!-- heading-->
		<h3 class="clients-heading">
			<img src="assets/img/small-star.png" class="img-fluid" alt="star icon">
			<img src="assets/img/big-star.png" class="img-fluid" alt="star icon">
			FEATURED CLIENTS
			<img src="assets/img/big-star.png" class="img-fluid" alt="star icon">
			<img src="assets/img/small-star.png" class="img-fluid" alt="star icon">
		</h3>
		<!-- clients logo -->
		<img src="assets/img/yellow-line.png" class="img-fluid lines" class="lines" alt="star icon">
		<app-clients 
			*ngFor="let client of clients" 
			[clie]="client"
			class="img-resp"></app-clients>
	</div>
</div>