<div class="about-bckg">
	<div class="container">
		<!-- headings -->
		<h1 class="about-heading">About Lowned</h1>
		<h1 class="about-heading-sec">Enthusiastic Team Behind Every application & Theme Created in Imagery.</h1>
		<hr class="divide-map">
		<div class="row">
			<!-- left part with employees -->
			<div class="col-sm-12 col-md-6 team">
				<h2 class="col-headings">Team Imagery</h2>
				<p class="col-text">Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly 
				believable.</p>
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<!-- employers card -->
						<div class="card">
						  <div class="employer-bckg"></div>
						  <div class="card-body">
						  	<p class="card-text">Co-founder & Creative Director</p>
						    <h5 class="card-title">Mike Taylor</h5>
						    <ul class="card-social-icons">
						    	<!-- social icons -->
						    	<li>
						    		<a href="#" class="twitter">
						    			<img src="assets/img/twitter.png" alt="">
						    		</a>
						    	</li>
						    	<li>
						    		<a href="#" class="dribble">
						    			<img src="assets/img/dribble.png" alt="">
						    		</a>
						    	</li>
						    </ul>
						  </div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<!-- employers card -->
						<div class="card">
						  <div class="employer-bckg"></div>
						  <div class="card-body">
						  	<p class="card-text">Co-founder & Development Lead</p>
						    <h5 class="card-title">William</h5>
						    <ul class="card-social-icons">
						    	<!-- social icons -->
						    	<li>
						    		<a href="#" class="forrst">
						    			<img src="assets/img/forrst.png" alt="">
						    		</a>
						    	</li>
						    	<li>
						    		<a href="#" class="dribble">
						    			<img src="assets/img/dribble.png" alt="">
						    		</a>
						    	</li>
						    </ul>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-md-3">
						<img src="assets/img/twitter-big.png" alt="twitter logo">
					</div>
					<div class="col-sm-9 col-md-9">
						<p class="twitter-text">
							Imagery Creative PortfolioTheme in Themforest, Stay Tuned on more Updates. <br>
							<span>6 hours ago</span>
						</p>
					</div>
				</div>
			</div>
			<!-- right side with steps -->
			<div class="col-sm-12 col-md-6">
				<h2 class="col-headings">Imagery Progress</h2>
				<p class="col-text">Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly 
				believable.</p>
				<div class="row steps">
					<div class="col"><img src="assets/img/steps.png" class="img-fluid step-img" alt=""></div>
				</div>
			</div>
		</div>

	</div>
</div>
