<div class="footer">
	<div class="container">
		<p class="copywright">© 2018 Lowend</p>

		<ul class="footer-social">
			<li>
				<a href="#" class="facebook">
					<img src="assets/img/facebook.png" alt="facebook icon">
				</a>
			</li>
			<li>
				<a href="#" class="twitter" >
					<img src="assets/img/twitter.png"alt="twitter icon">
				</a>
			</li>
			<li>
				<a href="#" class="dribble">
					<img src="assets/img/dribble.png" alt="dribble icon">
				</a>
			</li>
			<li>
				<a href="#" class="vimeo">
					<img src="assets/img/vimeo.png" alt="vimeo icon">
				</a>
			</li>
			<li>
				<a href="#" class="forrst">
					<img src="assets/img/forrst.png" alt="forrst icon">
				</a>
			</li>
			<li>
				<a href="#" class="skype">
					<img src="assets/img/skype.png" alt="skype icons">
				</a>
			</li>
		</ul>
	</div>
</div>