<!-- yellow line -->
<div class="line"></div>
<!-- navbar -->
<!-- <nav class="navbar navbar-expand-lg bg-dark">
	<div class="container">
		  <img src="assets/img/yellow-arrow.png" class="arrow" alt="yeelow arrow" >
		  <
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			   		<span class="navbar-toggler-icon"></span>
		  </button>

		<div class="row">
			<div class="col-md-12 col-lg-12">
		
				<div class="logo">
				  <a class="navbar-brand" href="#"><h1 class="logo-headline">LOW<span>END</span></h1></a>
				  <p class="logo-paragraph">PORTFOLIO THEME FOR REVIEW</p>
				</div>
			</div>
			<div class="col-xs-0 col-md-12 col-lg-12">
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="row">
						
						<div class="col-xs-0 col-sm-0 col-md-0 col-lg-12 social-network">
						
							  <ul class="navbar-nav ml-auto social-network-icons">
							      <li class="nav-item">
							        <a class="nav-link facebook" href="#"><img src="assets/img/facebook.png" alt="facebook icon"></a>
							      </li>
							      <li class="nav-item">
							        <a class="nav-link twitter" href="#"><img src="assets/img/twitter.png" alt="twitter icon"></a>
							      </li>
							      <li class="nav-item">
							        <a class="nav-link dribble" href="#"><img src="assets/img/dribble.png" alt="dribble icon"></a>
							      </li>
							      <li class="nav-item">
							        <a class="nav-link forrst" href="#"><img src="assets/img/forrst.png" alt="forrst icon"></a>
							      </li>
							      <li class="nav-item">
							        <a class="nav-link vimeo" href="#"><img src="assets/img/vimeo.png" alt="vimeo icon"></a>
							      </li>
							      <li class="nav-item">
							        <a class="nav-link skype" href="#"><img src="assets/img/skype.png" alt="skype icon"></a>
							      </li>
						       </ul>
						</div>
				
						<div class="col-xs-12 col-md-12 col-lg-12">	
								<!-- nav menu links 
							    <ul class="navbar-nav ml-auto nav-menu">
							      <li class="nav-item active">
							        <a class="nav-link" href="#">work</a>
							      </li>
							      <li class="nav-item">
							        <a class="nav-link" href="#">services</a>
							      </li>
							      <li class="nav-item">
							        <a class="nav-link" href="#">blog</a>
							      </li>
							      <li class="nav-item">
							        <a class="nav-link" href="#">about me</a>
							      </li>
							      <li class="nav-item">
							        <a class="nav-link" href="#">contact</a>
							      </li>
							    </ul>
											
						</div>
					</div>	
			</div>
		</div>		  
	</div>
</nav> --> 


<nav class="navbar navbar-expand-lg bg-dark">
	<div class="container">
		  <img src="assets/img/yellow-arrow.png" class="arrow" alt="yeelow arrow" >
		 <!-- logo -->
		  <div class="navbar-brand logo">
		    <a class="navbar-brand" href="#"><h1 class="logo-headline">LOW<span>END</span></h1></a>
		    <p class="logo-paragraph">PORTFOLIO THEME FOR REVIEW</p>
		  </div>
		  <!-- hamburger menu -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <!-- mobile menu colapse -->
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="row">
				 <div class="navbar-nav">
				      <ul class="navbar-nav ml-auto social-network-icons">
					      <li class="nav-item">
					        <a class="nav-link facebook" href="#"><img src="assets/img/facebook.png" alt="facebook icon"></a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link twitter" href="#"><img src="assets/img/twitter.png" alt="twitter icon"></a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link dribble" href="#"><img src="assets/img/dribble.png" alt="dribble icon"></a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link forrst" href="#"><img src="assets/img/forrst.png" alt="forrst icon"></a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link vimeo" href="#"><img src="assets/img/vimeo.png" alt="vimeo icon"></a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link skype" href="#"><img src="assets/img/skype.png" alt="skype icon"></a>
					      </li>
				      </ul>	
			</div>
						   
			<div class="row menu-mob">
			
					<ul class="navbar-nav ml-auto nav-menu">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">work</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">services</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">blog</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">about me</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">contact</a>
				      </li>
				   </ul>	
				
			</div>
		    

		    </div>
		  </div>
	</div>
</nav>
