$yellowColor: #ffd21e;
$whiteColor: white;
$navGray: #282727;
$socialBckg: #323232;
$facebookColor: #46599b;
$twitterColor: #71aee0;
$dribbleColor: #c379a2;
$vimeoColor: #9fdce7;
$forrstColor: #4b7c33;
$skypeColor: #6fc5fd;
$blackColor: black;
$galleryHoverBckg: #a4bda5;
$grayLine: #b7b7b7;
$cirlceBorder: #c8c8c8;
$circleBckg: #3e3e3e;
$grayParagrph: #646464;
$employerBckg: #d1d1d1;
$form: #e2e2e2;
$formBorder: #c7c7c7;